nav img.logo{
    height:50px;
}
.category-page-blocks-heading {
    color: rgba(0,0,0,.95);
    box-sizing: border-box;
    font: 700 28px/32px "Argos",serif;
    letter-spacing: 0;
    font-size: 34px;
    line-height: 40px;
    margin: 0 0 32px;
}

.flex-container{
    display: flex;

}

.felxbox-item{
    width:200px;
    margin: 10px;
    border: 3px solid black;
    background-color:rgb(228, 224, 224)
}

.felxbox-item-1{
    min-height: 100px;
}
.felxbox-item-2{
    min-height: 200px;
}
.felxbox-item-3{
    min-height: 100px;
}
.felxbox-item-4{
    min-height: 100px;
}

/* Home Page Stylings */

.home-imgs img{
    width: 100%;
    max-width: 300px;
    height: auto;
}

.about-img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}